<h1>CommunityContentCollector</h1>

<p>Hi <%= @user.name %>, </p>

<p>
Benvenuto su CommunityContentCollector! Clicca sul link sottostante per attivare il tuo account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
