<h1>Reset Password</h1>

<p>Per fare il reset della tua password clicca sul link sottostante:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token, @user.email) %>

<p>Il link scadrà tra due ore.</p>
<p>
Se non hai richiesto il reset della tua password, ignora questa email.
</p>