<% provide(:title, "Home") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="post_form">
        <%= render 'shared/post_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Post Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
  
<% else %>

<div class="center jumbotron">
  <h1>Benvenuto su CommunityContentCollector</h1>
  
  <h2>
    Qui potrai trovare tutto il materiale universitario di cui hai bisogno.
    <br>
    
    Accedi o registrati per visualizzare i contenuti che cerchi.
  </h2>

  <%= link_to "Registrati ora!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<% end %>
