<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<p align: "left">Condividi il post su:</p>
<div id="social">  
  <%= link_to "", "https://t.me/share/url?url=#{request.original_url}&text=#{@post.content[0, 50]}", class: "fa fa-telegram fa-4x", target: :_blank %>
  <%= link_to "", "http://twitter.com/share?text=#{@post.content[0,100]}&url=#{request.original_url}&hashtags=#{@post.category}", class: "fa fa-twitter-square fa-4x", target: :_blank %>
</div>

